.Progress{
  .progress-title{
    h3, h4{
      text-align: center;
      font-weight: 100;
    }
    h3{
      margin-top: 30px;
      font-size: 1.5em;
    }
    h4{
      font-size: 1.2em;
      font-style: italic;
      font-weight: 400;
    }
  }
  &-Report{
    
  }
}